USE [master]
GO
/****** Object:  Database [CarDealerDB]    Script Date: 4/5/2019 1:15:08 PM ******/
CREATE DATABASE [CarDealerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarDealerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CarDealerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarDealerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CarDealerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarDealerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarDealerDB]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 4/5/2019 1:15:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[brand] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarOptions]    Script Date: 4/5/2019 1:15:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarOptions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[carId] [int] NOT NULL,
	[optionId] [int] NOT NULL,
 CONSTRAINT [PK_CarOptions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarsInventory]    Script Date: 4/5/2019 1:15:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarsInventory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[modelId] [int] NOT NULL,
	[colorId] [int] NOT NULL,
	[buildDate] [date] NOT NULL,
	[mileage] [int] NOT NULL,
	[initialPrice] [float] NOT NULL,
	[finalPrice] [int] NOT NULL,
 CONSTRAINT [PK_CarsInventory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 4/5/2019 1:15:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[firstName] [varchar](50) NOT NULL,
	[lastName] [varchar](50) NOT NULL,
	[creditCardNo] [varchar](16) NOT NULL,
	[balance] [float] NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 4/5/2019 1:15:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[color] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Colors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deals]    Script Date: 4/5/2019 1:15:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deals](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[carId] [int] NOT NULL,
	[discountedPrice] [float] NOT NULL,
 CONSTRAINT [PK_Deals] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 4/5/2019 1:15:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](50) NOT NULL,
	[lastName] [varchar](50) NOT NULL,
	[position] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Engines]    Script Date: 4/5/2019 1:15:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Engines](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fuelType] [varchar](50) NOT NULL,
	[power] [int] NOT NULL,
	[capacity] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Engines] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModelEngines]    Script Date: 4/5/2019 1:15:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModelEngines](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[modelId] [int] NOT NULL,
	[engineId] [int] NOT NULL,
 CONSTRAINT [PK_ModelEngines] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Models]    Script Date: 4/5/2019 1:15:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Models](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[model] [varchar](50) NOT NULL,
	[brandId] [int] NOT NULL,
	[basePrice] [float] NOT NULL,
 CONSTRAINT [PK_Models] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operations]    Script Date: 4/5/2019 1:15:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[operation] [varchar](200) NULL,
	[cost] [float] NOT NULL,
 CONSTRAINT [PK_Operations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Options]    Script Date: 4/5/2019 1:15:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Options](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[option] [varchar](100) NOT NULL,
	[price] [float] NOT NULL,
	[level] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Options] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rentals]    Script Date: 4/5/2019 1:15:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rentals](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[carId] [int] NOT NULL,
	[clientId] [int] NOT NULL,
	[employeeId] [int] NOT NULL,
	[daysRented] [int] NOT NULL,
	[totalCost] [float] NOT NULL,
 CONSTRAINT [PK_Rentals] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 4/5/2019 1:15:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clientId] [int] NOT NULL,
	[employeeId] [int] NOT NULL,
	[date] [datetime] NOT NULL,
	[price] [float] NOT NULL,
	[details] [varchar](5000) NOT NULL,
	[typeOfTransaction] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Reports] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceInterventions]    Script Date: 4/5/2019 1:15:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceInterventions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clientId] [int] NOT NULL,
	[employeeId] [int] NOT NULL,
	[operationId] [int] NOT NULL,
	[date] [datetime] NOT NULL,
	[cost] [float] NOT NULL,
 CONSTRAINT [PK_ServiceInterventions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestDrives]    Script Date: 4/5/2019 1:15:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestDrives](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[carId] [int] NOT NULL,
	[clientId] [int] NOT NULL,
	[employeeId] [int] NOT NULL,
	[distanceDriven] [int] NOT NULL,
 CONSTRAINT [PK_TestDrives] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([id], [brand]) VALUES (1, N'Audi')
INSERT [dbo].[Brands] ([id], [brand]) VALUES (2, N'BMW')
INSERT [dbo].[Brands] ([id], [brand]) VALUES (3, N'Mercedes-Benz')
SET IDENTITY_INSERT [dbo].[Brands] OFF
SET IDENTITY_INSERT [dbo].[Colors] ON 

INSERT [dbo].[Colors] ([id], [color]) VALUES (1, N'Red')
INSERT [dbo].[Colors] ([id], [color]) VALUES (2, N'White')
INSERT [dbo].[Colors] ([id], [color]) VALUES (3, N'Black')
SET IDENTITY_INSERT [dbo].[Colors] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([id], [firstName], [lastName], [position]) VALUES (1, N'John', N'Smith', N'Sales Representative')
INSERT [dbo].[Employees] ([id], [firstName], [lastName], [position]) VALUES (2, N'Jack', N'May', N'Sales Representative')
INSERT [dbo].[Employees] ([id], [firstName], [lastName], [position]) VALUES (3, N'Anne', N'Sosa', N'Sales Representative')
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Engines] ON 

INSERT [dbo].[Engines] ([id], [fuelType], [power], [capacity]) VALUES (2, N'Diesel', 90, N'1500')
INSERT [dbo].[Engines] ([id], [fuelType], [power], [capacity]) VALUES (3, N'Diesel', 130, N'1900')
INSERT [dbo].[Engines] ([id], [fuelType], [power], [capacity]) VALUES (4, N'Diesel', 175, N'2000')
SET IDENTITY_INSERT [dbo].[Engines] OFF
SET IDENTITY_INSERT [dbo].[ModelEngines] ON 

INSERT [dbo].[ModelEngines] ([id], [modelId], [engineId]) VALUES (1, 1, 2)
INSERT [dbo].[ModelEngines] ([id], [modelId], [engineId]) VALUES (2, 1, 9)
INSERT [dbo].[ModelEngines] ([id], [modelId], [engineId]) VALUES (3, 2, 3)
GO
SET IDENTITY_INSERT [dbo].[ModelEngines] OFF
SET IDENTITY_INSERT [dbo].[Models] ON 

INSERT [dbo].[Models] ([id], [model], [brandId], [basePrice]) VALUES (1, N'A3        ', 1, 30000)
INSERT [dbo].[Models] ([id], [model], [brandId], [basePrice]) VALUES (2, N'A4        ', 1, 40000)
INSERT [dbo].[Models] ([id], [model], [brandId], [basePrice]) VALUES (3, N'A5        ', 1, 50000)
SET IDENTITY_INSERT [dbo].[Models] OFF
SET IDENTITY_INSERT [dbo].[Operations] ON 

INSERT [dbo].[Operations] ([id], [operation], [cost]) VALUES (1, N'Oil change', 200)
INSERT [dbo].[Operations] ([id], [operation], [cost]) VALUES (2, N'Tehnical Inspection', 150)
INSERT [dbo].[Operations] ([id], [operation], [cost]) VALUES (3, N'Tire change', 200)
SET IDENTITY_INSERT [dbo].[Operations] OFF
SET IDENTITY_INSERT [dbo].[Options] ON 

INSERT [dbo].[Options] ([id], [option], [price], [level]) VALUES (1, N'LED Headlights', 700, N'entry')
INSERT [dbo].[Options] ([id], [option], [price], [level]) VALUES (2, N'LED Taillights', 500, N'entry')
INSERT [dbo].[Options] ([id], [option], [price], [level]) VALUES (3, N'Head-up Display', 400, N'entry')
SET IDENTITY_INSERT [dbo].[Options] OFF
ALTER TABLE [dbo].[CarOptions]  WITH CHECK ADD  CONSTRAINT [FK_CarOptions_CarsInventory] FOREIGN KEY([carId])
REFERENCES [dbo].[CarsInventory] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarOptions] CHECK CONSTRAINT [FK_CarOptions_CarsInventory]
GO
ALTER TABLE [dbo].[CarOptions]  WITH CHECK ADD  CONSTRAINT [FK_CarOptions_Options] FOREIGN KEY([optionId])
REFERENCES [dbo].[Options] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarOptions] CHECK CONSTRAINT [FK_CarOptions_Options]
GO
ALTER TABLE [dbo].[CarsInventory]  WITH CHECK ADD  CONSTRAINT [FK_CarsInventory_Colors] FOREIGN KEY([colorId])
REFERENCES [dbo].[Colors] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarsInventory] CHECK CONSTRAINT [FK_CarsInventory_Colors]
GO
ALTER TABLE [dbo].[CarsInventory]  WITH CHECK ADD  CONSTRAINT [FK_CarsInventory_Models] FOREIGN KEY([modelId])
REFERENCES [dbo].[Models] ([id])
GO
ALTER TABLE [dbo].[CarsInventory] CHECK CONSTRAINT [FK_CarsInventory_Models]
GO
ALTER TABLE [dbo].[Deals]  WITH NOCHECK ADD  CONSTRAINT [FK_Deals_CarsInventory] FOREIGN KEY([carId])
REFERENCES [dbo].[CarsInventory] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Deals] CHECK CONSTRAINT [FK_Deals_CarsInventory]
GO
ALTER TABLE [dbo].[ModelEngines]  WITH CHECK ADD  CONSTRAINT [FK_ModelEngines_Engines] FOREIGN KEY([engineId])
REFERENCES [dbo].[Engines] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ModelEngines] CHECK CONSTRAINT [FK_ModelEngines_Engines]
GO
ALTER TABLE [dbo].[ModelEngines]  WITH CHECK ADD  CONSTRAINT [FK_ModelEngines_Models] FOREIGN KEY([modelId])
REFERENCES [dbo].[Models] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ModelEngines] CHECK CONSTRAINT [FK_ModelEngines_Models]
GO
ALTER TABLE [dbo].[Models]  WITH CHECK ADD  CONSTRAINT [FK_Models_Brands] FOREIGN KEY([brandId])
REFERENCES [dbo].[Brands] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Models] CHECK CONSTRAINT [FK_Models_Brands]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [FK_Rentals_CarsInventory] FOREIGN KEY([carId])
REFERENCES [dbo].[CarsInventory] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [FK_Rentals_CarsInventory]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [FK_Rentals_Clients] FOREIGN KEY([clientId])
REFERENCES [dbo].[Clients] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [FK_Rentals_Clients]
GO
ALTER TABLE [dbo].[Rentals]  WITH CHECK ADD  CONSTRAINT [FK_Rentals_Employees] FOREIGN KEY([employeeId])
REFERENCES [dbo].[Employees] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rentals] CHECK CONSTRAINT [FK_Rentals_Employees]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Clients] FOREIGN KEY([clientId])
REFERENCES [dbo].[Clients] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_Clients]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Employees] FOREIGN KEY([employeeId])
REFERENCES [dbo].[Employees] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_Employees]
GO
ALTER TABLE [dbo].[ServiceInterventions]  WITH CHECK ADD  CONSTRAINT [FK_ServiceInterventions_Clients] FOREIGN KEY([clientId])
REFERENCES [dbo].[Clients] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceInterventions] CHECK CONSTRAINT [FK_ServiceInterventions_Clients]
GO
ALTER TABLE [dbo].[ServiceInterventions]  WITH CHECK ADD  CONSTRAINT [FK_ServiceInterventions_Employees] FOREIGN KEY([employeeId])
REFERENCES [dbo].[Employees] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceInterventions] CHECK CONSTRAINT [FK_ServiceInterventions_Employees]
GO
ALTER TABLE [dbo].[ServiceInterventions]  WITH CHECK ADD  CONSTRAINT [FK_ServiceInterventions_Operations] FOREIGN KEY([operationId])
REFERENCES [dbo].[Operations] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceInterventions] CHECK CONSTRAINT [FK_ServiceInterventions_Operations]
GO
ALTER TABLE [dbo].[TestDrives]  WITH CHECK ADD  CONSTRAINT [FK_TestDrives_CarsInventory] FOREIGN KEY([carId])
REFERENCES [dbo].[CarsInventory] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestDrives] CHECK CONSTRAINT [FK_TestDrives_CarsInventory]
GO
ALTER TABLE [dbo].[TestDrives]  WITH CHECK ADD  CONSTRAINT [FK_TestDrives_Clients] FOREIGN KEY([clientId])
REFERENCES [dbo].[Clients] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestDrives] CHECK CONSTRAINT [FK_TestDrives_Clients]
GO
ALTER TABLE [dbo].[TestDrives]  WITH CHECK ADD  CONSTRAINT [FK_TestDrives_Employees] FOREIGN KEY([employeeId])
REFERENCES [dbo].[Employees] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestDrives] CHECK CONSTRAINT [FK_TestDrives_Employees]
GO
USE [master]
GO
